
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <section class="w3l-contact pb-5" id="contact">
        <div class="container pb-md-5 pb-4">
            <div class="row contact-block">
                <div class="col-lg-7 contact-right mt-5">
                    <h3 class="title-style mb-4 pb-2">Contact Us</h3>
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                        <div class="input-grids">
                            <input type="text" name="w3lName" id="w3lName" placeholder="Your Name*"
                                   class="contact-input" required="" />
                            <input type="email" name="w3lSender" id="w3lSender" placeholder="Your Email*"
                                   class="contact-input" required="" />
                            <input type="text" name="w3lSubect" id="w3lSubect" placeholder="Subject*"
                                   class="contact-input" required="" />
                        </div>
                        <div class="form-input">
                            <textarea name="w3lMessage" id="w3lMessage" placeholder="Type your message here*"
                                      required=""></textarea>
                        </div>
                        <button class="btn btn-style mt-sm-3">Send Message</button>
                    </form>

                    <div class="contact-left mt-5 pt-lg-4">
                        <div class="row cont-details">
                            <div class="col-sm-6">
                                <div class="d-flex contact-grid">
                                    <div class="cont-left text-center mr-3">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="cont-right">
                                        <h6>Company Address</h6>
                                        <p>Ahemadabad City, INDIA.</p>
                                    </div>
                                </div>
                                <div class="d-flex contact-grid mt-4 pt-lg-2">
                                    <div class="cont-left text-center mr-3">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="cont-right">
                                        <h6>Call Us</h6>
                                        <p><a href="tel:+#">+91 9639639639</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 mt-sm-0 mt-4">
                                <div class="d-flex contact-grid">
                                    <div class="cont-left text-center mr-3">
                                        <span class="fa fa-envelope-open"></span>
                                    </div>
                                    <div class="cont-right">
                                        <h6>Email Us</h6>
                                        <p><a href="#" class="mail">intairservices@gmail.com</a></p>
                                    </div>
                                </div>
                                <div class="d-flex contact-grid mt-4 pt-lg-2">
                                    <div class="cont-left text-center mr-3">
                                        <span class="fa fa-headphones"></span>
                                    </div>
                                    <div class="cont-right">
                                        <h6>Customer Support</h6>
                                        <p><a href="#" class="mail">furnitureservices@gmail.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-lg-0 mt-5 pl-xl-5 pl-lg-4">
                    <div class="map-iframe">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

